<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <%- include('partials/menu'); %>
    <h1>Danh sách các cuốn sách hay</h1>
    <p>Nội dung trang sản phẩm đang được xây dựng...</p>
</body>
</html>